html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1270px;
  padding: 10px 0;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  color: #31261a;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #faf4ea;
  overflow-x: hidden;
}
/* header */
.header {
  height: 100vh;
  background-image: url(./header-bg.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #faf4ea;
}
.header-wrap {
  font-weight: 400;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 64px;
}
.header-item:hover {
  color: #819b57;
}
.header-btn {
  display: inline-block;
  font-size: 18px;
  color: #faf4ea;
  font-weight: 600;
  background-color: #819b57;
  padding: 16px 32px;
  border-radius: 8px;
}

.header-title {
  max-width: 1158px;
  font-weight: 900;
  font-size: 128px;
  line-height: 1.5;
  padding-top: 165px;

  color: #819b57;
}
.header-title span {
  color: #faf4ea;
}
.header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Main */
/* priority */
.section-priority {
  background-color: #819b57;
}
.priority-list {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
.priority-item {
  color: #faf4ea;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
/* traditions */
.traditions {
  padding: 96px 0;
  background-color: #faf4ea;
  color: #31261a;
}
.traditions-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 104px;
}
.traditions-title {
  max-width: 710px;
  margin-bottom: 42px;
}
.traditions-desc {
  font-weight: 400;
  color: #31261a;
  margin-bottom: 42px;
}
.traditions-desc-accent {
  color: #819b57;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.traditions-desc-elem {
  color: #819b57;
}
.traditions-wrapper-img {
  max-width: 606px;
}
.traditions-img {
  border-radius: 400px 400px 0 0;
}

/* chefs */
.chefs {
  background-color: #faf4ea;
  padding-bottom: 96px;
}
.chefs-main {
  margin-bottom: 80px;
  text-align: center;
}
.chefs-title-accent {
  color: #465929;

  display: inline-block;
  position: relative;
  padding: 0 23px;
}
.chefs-title-accent::before,
.chefs-title-accent::after {
  content: "";
  position: absolute;
  bottom: 29%;
  width: 352px;
  height: 1px;
  background-color: #cfcfbc;
}
.chefs-title-accent::before {
  right: 100%;
}
.chefs-title-accent::after {
  left: 100%;
}

.chefs-wrapper {
  display: grid;
  grid-template-columns: 605px 605px;
  column-gap: 30px;
}

.chef-wrapper-img {
  max-width: 268px;
}

.chef-img {
  border-radius: 4px 4px 4px 200px;
}

.chef-first {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.chef-first-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #31261a;
}

.chefs-title {
  font-weight: 600;
  font-size: 40px;
  color: #31261a;
}

.chef-second {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.chef-second-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #31261a;
}
/* Formats */
.formats__item {
  /* padding: 248px 24px 24px 24px; */
  max-width: 349px;
  position: relative;
}
.formats__item img {
  width: 100%;
  display: block;
}
.formats__content {
  max-width: 301px;
  position: absolute;
  bottom: -33px;
  left: 2px;
  color: #faf4ea;
  background: rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  padding: 0 24px;
}
.formats__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}
.formats__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}

/* .menu__btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 10;
}
.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f5f5f5;
}
.menu__btn::after {
  top: 0;
}
.menu__btn::before {
  bottom: 0;
}
.menu__btn span {
  height: 2px;
  background-color: #f5f5f5;
  width: 100%;
}

@media (max-width: 1300px) {
  .menu__btn {
    display: flex;
  }
} */
